#featureDiv
	#carosuelBox
		carousel(interval="Main.speed" no-wrap="noWrapSlides")
			slide(ng-repeat="slide in Main.slides" active="slide.active")
				.imageDiv
					img#carouselImage(ng-src='{{slide.image}}')
					.carousel-caption(ng-repeat='heads in Main.headers' ng-hide="!Main.slides.active")
						h1 {{heads}}
						a(ui-sref="#"): button(type="button").btn.btn-success View Project
						.techstack
							ul.list-group
								li.list-group-item-heading: p We're Looking For:
								li.list-group: p Front-end JS devs
								li.list-group: p CSS ninjas
								li.list-group: p UX and Design 
								li.list-group: p Project Manager 
