#global
	.jumbotron
		.half
			h1 Get involved with a global project
			p  Lorem ipsum dolor sit amet, consectetu ipsum dolor sit amet, consectetu ipsum dolor sit amet, consectetu
			button.btn.btn-lg Discover 