#screenline
	.local
		h1#HL Local Brigade: Nashville
	
		.row
			.project-box
				.col-sm-6.col-md-4
					.img-thumbnail
						img(ng-src="assets/images/icon2.jpeg")
						.caption: h3 Brigade Pluse
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat libero delectus minima necessitatibus consequatur, accusamus tempora distinctio eaque dolor velit placeat, repellat molestias iure nobis provident mollitia in sapiente.
						.messageBlock
							a(href="#") Inbox 
								span.badge 15
							button.btn.btn-primary Messages    
								span.badge 10

			.project-box
				.col-sm-6.col-md-4
					.img-thumbnail
						img(ng-src="assets/images/logoBoston.jpeg")
						.caption: h3 Nash Art Crawl
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat libero delectus minima necessitatibus consequatur, accusamus tempora distinctio eaque dolor velit placeat, repellat molestias iure nobis provident mollitia in sapiente.
						.messageBlock
							a(href="#") Inbox 
								span.badge 15
							button.btn.btn-primary Messages    
								span.badge 10

			.project-box
				.col-sm-6.col-md-4
					.img-thumbnail
						img(ng-src="assets/images/OS.jpeg")
						.caption: h3 August Hack Night 
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat libero delectus minima necessitatibus consequatur, accusamus tempora distinctio eaque dolor velit placeat, repellat molestias iure nobis provident mollitia in sapiente.
						.messageBlock
							a(href="#") Inbox 
								span.badge 15
							button.btn.btn-primary Messages    
								span.badge 10

			.project-box
				.col-sm-6.col-md-4
					.img-thumbnail
						img(ng-src="assets/images/DClogo.jpeg")
						.caption: h3 Apps and Stuff!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat libero delectus minima necessitatibus consequatur, accusamus tempora distinctio eaque dolor velit placeat, repellat molestias iure nobis provident mollitia in sapiente.
						.messageBlock
							a(href="#") Inbox 
								span.badge 15
							button.btn.btn-primary Messages    
								span.badge 10
