#preview
	h1#HP Discover Popular Projects

	#previewLandingImage 
		.media
			.media-left
				a(ui-sref="#"): img.media-object(ng-src="assets/images/space.jpg")

			.media-body
				h3.media-heading Visualizing astrological events for schools
				p Hack for Nashville
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cupiditate quae in perspiciatis, quo, numquam accusantium dolorem perferendis voluptates blanditiis tempore sed. Eius fugit quisquam sunt odio saepe. Voluptates, dolorem.
				.progress
					.progress-bar
				p Community Interest: 50k 
					span(class="glyphicon glyphicon-hand-up")
				p Follow:   
					span(class="glyphicon glyphicon-star")

	.techStack
		h4 Tech Stack
		.btn-toolbar
			.btn-group.btn-group-lg MongoDB 
				span(class="glyphicon glyphicon-hand-up")
			.btn-group.btn-group-lg Express
			.btn-group.btn-group-lg Angular
			.btn-group.btn-group-lg Node.js

	#categories
		ul.list-unstyled
			li: a(href="#") Local Gov't 
			li: a(href="#") Global Humanitarian
			li: a(href="#") Schools
			li: a(href="#") Non-Profit
			li: a(href="#") Environmental 
			li: a(href="#") Cities & Culture
			li: a(href="#") Farming
			li: a(href="#") Tech Education
			li: a(href="#") Technology General


