.preview
	h1#HD Locally Farmed Produce to Underserved Communities
	h2 Nashville Brigade

	.media
		.media-left
			a(href="#"): img.media-object(ng-src="assets/images/urbanfarm2.jpg")
			a(ui-sref="fullpage.info"): button(type="button").btn.btn-success Join Project

		.media-body#detailWrapperz
			h3.media-heading April 12th 2012
			h5 Started
			h3 38
			h5 Active Contributors
			h3 2
			h5 Open Issues
			p Follow:   
				span(class="glyphicon glyphicon-star")

	.techStack
		h4 Tech Stack
		.btn-toolbar
			.btn-group.btn-group-lg MongoDB 
				span(class="glyphicon glyphicon-hand-up")
			.btn-group.btn-group-lg Express
			.btn-group.btn-group-lg Angular
			.btn-group.btn-group-lg Node.js



